body {
  background:#ccc;
  background-image:url('DSC_0074.jpg');
  color:#000;
  font-family:helvetica;
  font-size:20px;
  padding:40px;
}

#content {
  width: 500px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

h1 { margin-top: 0 }

h1, h3,a { color: #060; }